[submodule "packages/dotbot"]
	path = packages/dotbot
	url = https://github.com/anishathalye/dotbot
  ignore = dirty
[submodule "packages/vim-plug"]
	path = packages/vim-plug
	url = https://github.com/junegunn/vim-plug
  ignore = dirty
