[submodule "bot"]
    path = bot
    url = https://github.com/anishathalye/dotbot
    ignore = dirty

[submodule "vim-plug"]
    path = lib/vim-plug
    url = https://github.com/junegunn/vim-plug
    ignore = dirty
