[user]
	name = Alessio Libardi
	email = 58233289+alessio-libardi@users.noreply.github.com

[init]
	defaultBranch = main

[core]
	editor = ide --wait

[diff]
	tool = ide --wait --diff $LOCAL $REMOTE

[push]
	autoSetupRemote = true

[alias]
	main = git checkout main && git pull
