[user]
	name = Alessio Libardi
	email = 58233289+alessio-libardi@users.noreply.github.com

[init]
	defaultBranch = main

[core]
	editor = code --wait

[diff]
	tool = code --wait --diff $LOCAL $REMOTE

[push]
	autoSetupRemote = true

[alias]
  main = !bash -c 'source $HOME/.bash_functions && git_main'
